.profile {
  max-width: 360px;
  width: 100%;
  padding: var(--space-30);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  border-radius: var(--radius-2);
}

.profile__container {
  max-width: 360px;
  width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.profile__header {
  font-size: var(--font-size-24);
}

.profile__avatar {
  display: block;
  width: 240px;
  height: 240px;
  overflow: hidden;
  border-radius: 50%;
  background-image: linear-gradient(
    135deg,
    var(--color-primary-light),
    var(--color-secondary-light)
  );
}

.profile__img {
  padding: 2px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.profile__data {
  width: 100%;
  margin-top: var(--space-30);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.profile__data > p {
  margin: var(--space-10) 0;
  font-size: var(--font-size-16);
}

.profile__data > p > span {
  font-weight: var(--font-weight-bold);
}

.profile__icon {
  margin-right: var(--space-10);
  color: var(--color-primary-dark);
}

.profile__button {
  margin-top: var(--space-40);
  padding: var(--space-5) var(--space-20);
  border: 2px solid var(--color-primary-dark);
  background-color: var(--color-primary-dark);
  color: var(--color-white);
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-bold);
  cursor: pointer;
}

.profile__button:hover {
  transform: scale(1.04);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.profile__button:active {
  transform: translateY(1px);
  background-color: var(--color-white);
  color: var(--color-primary-dark);
}
