.teams {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--space-50);
}

.teams__actions {
  margin-bottom: var(--space-40);
}

.teams__ul {
  display: flex;
  border-radius: var(--radius-24);
  overflow: hidden;
}

.teams__link {
  padding: var(--space-5) var(--space-15);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-gray-200);
  color: var(--color-white);
  font-size: var(--font-size-16);
}

.teams__link:hover{
  background-color: var(--color-secondary-dark);
}

.teams__link--border {
  border-right: 1px var(--color-white) solid;
}

.teams__link--active {
  background-color: var(--color-primary-dark);
}

.teams__icon--nav {
  margin-right: var(--space-10);
  font-size: var(--font-size-16);
  color: var(--color-white);
}

.teams__header {
  width: 100%;
  margin-bottom: var(--space-40);
  text-align: center;
  font-family: 'Iceland';
  font-size: var(--font-size-32);
}

.newteam {
  max-width: 450px;
  width: 100%;
  min-height: 624px;
  display: flex;
  align-items: start;
  justify-content: center;
  border-radius: var(--radius-12);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.newteam__form {
  padding: var(--space-10);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: var(--space-30);
}

.newteam__header {
  width: 100%;
  margin: var(--space-50) 0 var(--space-20) 0;
  text-align: center;
  font-family: 'Iceland';
  font-size: var(--font-size-36);
}

/*  ------------------ INPUT -------------------- */

.base-input__container {
  max-width: 350px;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--color-primary-dark);
}

.base-input__icon {
  margin-right: var(--space-10);
  margin-left: var(--space-5);
  font-size: var(--font-size-16);
  color: var(--color-primary-dark);
}

.base-input__input {
  width: 300px;
  height: 40px;
  border: none;
  background-color: transparent;
  color: var(--color-black);
  font-size: var(--font-size-16);
}

.base-input__input:focus {
  outline: none;
}

.base-input__input::placeholder {
  color: var(--color-gray-400);
}

/*  ------------------ Textarea -------------------- */

.base-textarea__container {
  max-width: 350px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.base-textarea__container label {
  font-size: var(--font-size-16);
  padding-bottom: 2px;
}

.base-textarea__icon {
  margin-right: var(--space-10);
  margin-left: var(--space-5);
  font-size: var(--font-size-16);
  color: var(--color-primary-dark);
}

.base-textarea__input {
  width: 100%;
  padding: 5px;
  border: 1px solid var(--color-primary-dark);
  font-size: var(--font-size-14);
}

/*  ------------------ Select -------------------- */

.base-select__container {
  max-width: 350px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--space-5);
}

.base-select__container label {
  font-size: var(--font-size-16);
  padding-bottom: 2px;
}

.base-select__icon {
  margin-right: var(--space-10);
  margin-left: var(--space-5);
  font-size: var(--font-size-16);
  color: var(--color-primary-dark);
}

.base-select__input {
  width: 100%;
  padding: 5px 10px 5px 10px;
  border-radius: 0;
  border: 1px solid var(--color-primary-dark);
  background-color: transparent;
  font-size: var(--font-size-14);
}

/*  ------------------ File -------------------- */

.base-file__container {
  max-width: 350px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--space-5);
}

.base-file__container label {
  font-size: var(--font-size-16);
  padding-bottom: 2px;
}

.base-file__container input::file-selector-button {
  padding: 5px 10px;
  border-radius: 0;
  border: 1px solid var(--color-primary-dark);
  background-color: var(--color-primary-dark);
  color: var(--color-white);
  font-size: var(--font-size-14);
}

.base-file__container input:hover {
  cursor: pointer;
}

.base-file__icon {
  margin-right: var(--space-10);
  margin-left: var(--space-5);
  font-size: var(--font-size-16);
  color: var(--color-primary-dark);
}

/*  ------------------ Message -------------------- */

.newteam__messages {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.newteam__messages > p {
  margin: 0 0  var(--space-20)  0;
  font-size: var(--font-size-14);
  color: var(--color-red-dark);
}

/*  ------------------ Actions -------------------- */

.newteam__actions {
  max-width: 350px;
  width: 100%;
  margin-bottom: var(--space-15);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.newteam__button {
  padding: var(--space-5) var(--space-10);
  border-radius: var(--radius-4);
  border: 1px solid var(--color-primary-dark);
  background-color: var(--color-white);
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-bold);
  color: var(--color-primary-dark);
  cursor: pointer;
}

.newteam__button:hover {
  transform: translateY(-1px);
}

.newteam__button:active {
  transform: translateY(1px);
  background-color: var(--color-primary-dark);
  color: var(--color-white);
}

/*  ------------------ MEDIA -------------------- */

@media only screen and (max-width: 400px) {
  .teams__ul {
    flex-direction: column;
    border-radius: 0;
    overflow: hidden;
  }

  .teams__link {
    width: 240px;
  }
  
  .teams__link--border {
    border-right: 0;
    border-bottom: 1px var(--color-white) solid;
  }
  
}
