.search {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--space-20);
}

/* -------------------- Search Field  ---------------------*/

.search__field {
  max-width: 600px;
  width: 100%;
  height: 40px;
  border-radius: var(--radius-48);
  margin: 0 auto;
  display: flex;
  border: 1px solid var(--color-gray-200);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.search__input {
  margin-left: var(--space-20);
  width: 75%;
  border: none;
  font-size: var(--font-size-16);
}

.search__input:focus {
  color: var(--color-primary-dark);
  outline: none;
}

.search__action {
  width: 25%;
}

.search__button {
  width: calc(100% + 1px);
  height: 40px;
  transform: translateY(-1px);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-10);
  border: none;
  border-top-right-radius: var(--radius-48);
  border-bottom-right-radius: var(--radius-48);
  background-image: linear-gradient(
    225deg,
    var(--color-primary-light) 0%,
    var(--color-primary-dark) 68.23%
  );
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-bold);
  color: var(--color-white);
  cursor: pointer;
}

.search__button:hover {
  width: calc(100% + 4px);
  height: 42px;
  transform: translateY(-2px);
}

.search__button:active {
  width: calc(100% + 1px);
  height: 40px;
  transform: translateY(-1px);
  background-image: linear-gradient(
    225deg,
    var(--color-secondary-light) 0%,
    var(--color-secondary-dark) 68.23%
  );
}

.search__icon-20 {
  font-size: var(--font-size-20);
  color: var(--color-white);
  fill: var(--color-white);
}

.search__icon-16 {
  margin-right: var(--space-5);
  font-size: var(--font-size-16);
  color: var(--color-white);
  fill: var(--color-white);
}

/* -------------------- Search Params  ---------------------*/

.search__params {
  margin-top: var(--space-50);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-50);
}

.search__city {
  width: 100%;
  height: 32px;
  display: flex;
  border: 1px solid var(--color-gray-200);
}

.search__city > input {
  border: none;
}

.search__city > input:focus {
  outline: none;
  border: none;
  color: var(--color-primary-dark);
}

.search__game {
  width: 100%;
  height: 32px;
  display: flex;
  border: 1px solid var(--color-gray-200);
}

.search__label {
  height: 100%;
  padding: 0 var(--space-10);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--color-gray-200);
  font-size: var(--font-size-16);
  color: var(--color-white);
}

.search__select {
  background-color: var(--color-white);
  border: none;
  cursor: pointer;
}

/* -------------------- Search NO Results  ---------------------*/

.no-results {
  display: none;
}

.no-results--show {
  margin-top: var(--space-100);
  display: block;
}

.no-results__picture {
  display: block;
  max-width: 328px;
  max-height: 328px;
}

.no-results__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* -------------------- Search Results  ---------------------*/

.search-results {
  width: 100%;
  height: 100%;
  margin: var(--space-100) var(--space-10);
  padding: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, minmax(280px, 1fr));
  align-items: center;
  justify-items: center;
  column-gap: var(--space-20);
  row-gap: var(--space-20);
  grid-row-gap: var(--space-20);
  grid-column-gap: var(--space-20);
}

.search-result {
  max-width: 350px;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.search-result__picture {
  display: block;
  max-width: 350px;
  height: 150px;
  overflow: hidden;
}

.search-result__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-result__headre {
  display: block;
  width: 100%;
  margin: 0;
  padding: var(--space-20);
  font-size: var(--font-size-24);
}

.search-result__team-info {
  padding: 0 var(--space-20);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: var(--space-25);
}

.search-result__info {
  margin: 0;
  font-size: var(--font-size-14);
}

.search-result__icon {
  margin-right: var(--space-5);
  font-size: var(--font-size-16);
  color: var(--color-primary-dark);
}

.search-result__actions {
  width: 100%;
  padding: var(--space-20);
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-result__button {
  padding: 2px var(--space-20);

  border: none;
  border-radius: var(--radius-4);
  background-image: linear-gradient(
    0,
    var(--color-primary-light) 0%,
    var(--color-primary-dark) 88.23%
  );
  font-size: var(--font-size-16);
  color: var(--color-white);
  cursor: pointer;
}

.search-result__button:hover {
  transform: translateY(-1px);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.search-result__button:active {
  transform: translateY(1px);
  background-image: linear-gradient(
    0,
    var(--color-secondary-light) 0%,
    var(--color-secondary-dark) 88.23%
  );
}

/*  ------------------ MEDIA -------------------- */

@media only screen and (max-width: 1200px) {
  .search-results {
    grid-template-columns: repeat(2, minmax(280px, 1fr));
  }
}

@media only screen and (max-width: 1200px) {
  .search-results {
    grid-template-columns: repeat(2, minmax(280px, 1fr));
  }
}

@media only screen and (max-width: 900px) {
  .search-results {
    grid-template-columns: repeat(1, minmax(280px, 1fr));
  }

}

@media only screen and (max-width: 600px) {
  .search-results {
    grid-template-columns: repeat(1, minmax(280px, 1fr));
  }

  .search__params {
    flex-direction: column;
    gap: var(--space-50);
  }

  .search__field {
    max-width: 600px;
    width: 80%;
  }

  .search__input {
    width: 65%;
  }

  .search__action {
    width: 35%;
  }
}